body {
    background-color: #f5f5f5;
    margin: auto;
}

/* Top Navigation bar */

#navContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #FFF;
    width: 100%;
    height: 56px;
    padding: 0 16px;
    margin: auto;
}

#topNavBar {
    display: flex;
    flex-direction: row;
    min-width: 100%;
    height: 56px;
    margin: 0;
}

#top-left-nav {
    display: flex;
    flex-direction: row;
    width: 185px;
    height: 56px;
}

#menu {
    height: 24px;
    width: 24px;
    margin-top: 14px;
    margin-right: 20px;    
    margin-bottom: 2px;
}

#youtube-logo-container {
    display: flex;
    flex-direction: row;
    height: 56px;
    width: 150px;

}

#youtube-logo {
    height: 32px;
    width: 32px;
    margin-left: 10px;
    margin-top: 10px;
}

#premium-logo {
    margin-top: 17px;
    margin-left: 2px;
    font-weight: bolder;
    font-size: large;
}

#top-center-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 380px;
    height: 56px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}

#searchBar {
    min-width: 336px;
    max-width: 564px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    height: 24px;
    background-color: transparent;
    border: 1px solid #d3d3d3;
    border-radius: 2px 0 0 2px;
    box-shadow: none;
    font-family: 'Roboto', 'Noto', sans-serif;
}

#searchButtonContainer {
    margin-top: 16px;
}

#searchButton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    margin-bottom: 16px;
    width: 65px;
    height: 28px;
    background-color: #f8f8f8;
    border: 1px solid #d3d3d3;
    border-radius: 0 2px 2px 0;
}

#searchIcon {
    align-self: center;
    height: 15px;
    width: 15px;
    color: rgba(214, 206, 206, 0.986)
}


#top-right-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 225px;
    height: 56px;
}

#createPost {
    justify-self: start;
    height: 24px;
    width: 24px;
    margin-right: 28px;
}

#googleApps {
    height: 24px;
    width: 24px;
    margin-top: 2px;
    margin-right: 28px;
}

#notifications {
    margin-right: 28px;
}

#profilePicture {
    border-radius: 100%;
    float: right;
    background-color: black;
    height: 32px;
    width: 32px;
}


/* Video Player and Info section */

#main-page-container {
    display: flex;
    flex-direction: row;
    min-width: 894px;
    max-width: 1754px;
    margin-left: auto;
    margin-right: auto;
}

#content-wrapper {
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    min-width: 1060px;
}

#video-player-container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
}

#primary-info-area {
    max-width: 894px;
    padding-top: 15px;
}

#video-link-tags-area {
    font-size: smaller;
    margin-bottom: 4px;
}

#title {
    margin-bottom: 20px;
    font-weight: 600;
}

#view-and-feedback-area {
    display: flex;
    flex-direction: row;
    min-width: 560px;
    border-bottom: 1px solid #d3d3d3;
    padding-bottom: 8px;
}

#view-count-area {
    align-self: flex-start;
    flex-grow: 1;
    font-size: small;
    color: #9e9e9e;
}

#video-feedback-options {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex-grow: 2;
}

#like-button {
    height: 24px;
    width: 24px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#dislike-button {
    height: 24px;
    width: 24px;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#share-button {
    height: 24px;
    width: 24px;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#like-button-image {
    height: 24px;
    width: 24px;
}

#dislike-button-image {
    height: 24px;
    width: 24px;
}

#share-button-image {
    height: 24px;
    width: 24px;
}

/* sidebar playlist section */

#playlist-container {
    min-width: 426px;
    margin-top: 24px;
}

.up-next {
    display: flex;
    flex-direction: row;
    max-height: 102px;
    max-width: 402px;
    margin-bottom: 8px;
}

.up-next-info-area {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
}

.next-title {
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 2px;
}

.next-view-count {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 2px;
    color: #9e9e9e;
}

.next-upload-date {
    font-size: 12px;
    font-weight: 400;
    color: #9e9e9e;
}

#secondary-info-area {
    display: flex;
    flex-direction: column;
    min-width: 560px;
    min-height: 168px;
}

#creator-information-container {
    display: flex;
    flex-direction: row;
    max-height: 56px;
}

#creator-profile-picture {
    border-radius: 100%;
    background-color: black;
    height: 32px;
    width: 32px;
    margin-right:10px;
    margin-left: 10px;
    margin-top: 15px;
}

#creator-information {
    flex-grow: 2;
    padding-top: 10px;
}

#subscribe-button-container {
    height: 56px;
    padding-top: 10px;
    padding-right: 2px;
    align-content: center;
    justify-content: center;
}

#subscribe-button {
    height: 37px;
    width: 105px;
    color: #FFF;
    background-color: red;
    box-shadow: none;
    border: none;
    border-radius: 2px;
}

#creator-name {
    font-weight: bolder;
    font-size: 14px;
}

#subscriber-count {
    color: #9e9e9e;
    font-weight: lighter;
    font-size: 12px;
    margin-top: 2px;
}

#announcements-area {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #d3d3d3;
    padding-bottom: 5px;
    max-width: 560px;
}

#announcement-info {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 10px;
}

#show-more-link {
    font-size: 10px;
    font-weight: lighter;
    margin-left: 10px;
    color: #9e9e9e;
}



/* comment section */

#comment-form-container {
    display: flex;
    flex-direction: column;
    max-width: 560px;
    min-height: 88px;
    margin-bottom: 30px;
}

#comment-form-header {
    display: flex;
    flex-direction: row;
    max-height: 24px;
    max-width: 560px;
}

#comment-form-body {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-top: 30px;
}

#comment-section-profile-photo {
    border-radius: 100%;
    background-color: black;
    height: 32px;
    width: 32px;
}

#comment-placeholder {
    margin-top: 15px;
    margin-left: 8px;
    border-bottom: 1px solid #d3d3d3;
    min-width: 500px;
}

/* Mock Comment */

#comment-container {
    max-width: 560px;
    display: flex;
    flex-direction: row;
}

#author-image {
    border-radius: 100%;
    background-color: black;
    height: 32px;
    width: 32px;
    margin-right:10px;
    margin-left: 10px;
}

#comment-builder {
    display: flex;
    flex-direction: column;
    max-height: 79px;
    min-height: 79px;
}

#comment-header {
    display: flex;
    flex-direction: row;
    max-height: 17px;
    flex-grow: 1;
}

#author-info {
    font-size: 10px;
    font-weight: bold;
}

#time-stamp {
    font-size: 10px;
    font-weight: 200;
    color: #9e9e9e;
    margin-left: 10px;
}

#comment-text-area {
    font-size: 12px;
    font-weight: 100;
    flex-grow: 1;
}

#comment-feedback-area {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
}

.comment-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    border: none;
    box-shadow: none;
    height: 24px;
    width:24px;
    margin-right: 20px;
}

.comment-icon {
    height: 24px;
    align-self: center;
    justify-self: center;
}